*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }
  body{
    min-height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    background: url('BMP-2  Background2.jpg')no-repeat;
    background-size: cover;
    /*background-position: center;*/
  }
  .absolute{
    position: absolute;
    inset: 0;
    top: 15px !important;
    display: inline flex;
    flex-direction: row;
  }
  .heading{
    position: absolute;
    padding: 2px 0;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
    animation: fade-in 0.5s;
  }
  .headen{
    position: relative;
    left: 50px;
  }
  .headen h1{
    margin: 0 auto;
    font-size: 58px;
  }
  .headen h4{
    position: absolute;
    top: 55px;
    font-size: 20px;
  }
  .headen h5{
    position: absolute;
    top: 75px;
    font-size: 15px;
  }
  .image1{
    margin: 0 auto;
    position: relative;
    width: 195px;
    height: 120px;
  }
  .image2{
    margin: 0 auto;
    position: relative;
    top: 12px;
    left: 250px;
    width: 140px;
    height: 115px;
  }
  .image3{
    margin: 0 auto;
    position: relative;
    top: 5px;
    left: 240px;
    width: 140px;
    height: 115px;
  }
  .wrapper{
    width: 1300px; 
    margin: 0 auto;
  }
.wrapper ul{
list-style: none;
position: absolute;
margin-top: 10%;
margin-left: 2%;
}
.wrapper ul li {
background: #063247;
opacity: 0.6;
width: 115px;
border: 1px solid #fff;
height: 50px;
line-height: 50px;
text-align: center;
float: left;
color: #fff;
font-size: 16px;
position: relative;
font-family: poppins;
text-transform: uppercase;
font-weight: bold;
}
.wrapper ul li:hover{
background: crimson;
opacity: 0.9; 
}
.wrapper ul li a{
      text-decoration: none;
      color: white;
}
.wrapper ul ul{
display: none;
}
.wrapper ul li:hover > ul{
display: block;
}
.wrapper ul ul ul{
margin-left: 170px;
top: 0;
position: absolute;
}


.navigation{
    position: fixed;
    inset: 20px;
    background: #063247;
    box-shadow: 0 3px 15px #000;
    opacity: 0.6;
    top: 29%;
    width: 80px;
    border-left: 10px solid #063247;
    border-radius: 50px;
    overflow: auto;
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation.active{
    width: 300px;
    border-radius: 20px;
    overflow: auto;
    overflow-x: hidden;
}

.toggle{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #000;
    transform: translateY(-5px);
    transition: 1s;
}

.toggle::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #000;
    transform: translateY(5px);
    transition: 1s;
}

.navigation.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
}

.navigation ul{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 88%;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover{
    background: gold;
}

.navigation ul li{
    top: 20px;
    margin-bottom: 40px;
    background: none;
}

.navigation ul li:hover::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 0 7.5px gold;
}

.navigation ul li:hover::after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 0 7.5px gold;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li:hover a{
    color: #000;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon i{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


 .navigation::-webkit-scrollbar{
    display: none;
    width: 8px;
  }
  .navigation.active::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  .navigation.active::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
  }
  .navigation.active::-webkit-scrollbar-thumb:hover{
    background: #555;
  }

.msg{
    position: absolute;
    top: 220px;
    left: 270px;
    width: 700px;
    height: 300px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    overflow: auto;
    box-shadow: 5px 5px 12px rgb(0,0,0,.16);
    z-index: -1;
  }
  .ret{
    position: absolute;
    top: 220px;
    left: 1010px;
    width: 350px;
    height: 509px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 5px 5px 12px rgb(0,0,0,.16);
    z-index: -1;
  }
  .bday{
    position: absolute;
    top: 540px;
    left: 270px;
    width: 700px;
    height: 190px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    overflow: auto;
    box-shadow: 5px 5px 12px rgb(0,0,0,.16);
    z-index: -1;
  }

  h3{
    text-align: center;
    font-size: 35px;
    border-bottom: 5px double #000;
  }
